incidents.getstarted/src/main/app/incidents-getstarted.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd">
    <http:listener-config name="incidents-getstarted-httpListenerConfig" host="0.0.0.0" port="8081" basePath="api" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="incidents-getstarted-config" raml="incidents-getstarted.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="PagerDuty_Request_Configuration" host="pagerduty-getstarted.us-e2.cloudhub.io" port="443" basePath="/api/pagerduty/v1" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange/api/v1/organizations/e735829f-c454-4892-bc40-c5c40277e8e3/assets/e735829f-c454-4892-bc40-c5c40277e8e3/pagerduty-getstarted/1.0.6/api/root"/>
    </http:request-config>
    <http:request-config name="Statuspage_Request_Configuration" host="statuspage-getstarted.us-e2.cloudhub.io" port="443" basePath="/api/statuspage/v1" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange/api/v1/organizations/e735829f-c454-4892-bc40-c5c40277e8e3/assets/e735829f-c454-4892-bc40-c5c40277e8e3/statuspage-getstarted/1.0.1/api/root"/>
    </http:request-config>
    <api-platform-gw:api apiName="groupId:e735829f-c454-4892-bc40-c5c40277e8e3:assetId:incidents-getstarted" version="v1:15602710" flowRef="incidents-getstarted-main" create="true" doc:name="API Autodiscovery"/>
    <flow name="incidents-getstarted-main">
        <http:listener config-ref="incidents-getstarted-httpListenerConfig" path="/incidents/v1/*" doc:name="HTTP"/>
        <apikit:router config-ref="incidents-getstarted-config" doc:name="APIkit Router"/>
        <exception-strategy ref="incidents-getstarted-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="incidents-getstarted-console">
        <http:listener config-ref="incidents-getstarted-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="incidents-getstarted-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/resolve:application/json:incidents-getstarted-config">
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	incidents: [{
		id: payload.pagerDuty.incident_id,
		status: payload.user.status,
		type: "incident"
	}]
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="PagerDuty_Request_Configuration" path="/incidents" method="PUT" doc:name="PagerDuty_Resolve">
                    <http:request-builder>
                        <http:header headerName="Authorization" value="Token token=C9V8jZAbKyjJ3_v1yHuz"/>
                        <http:header headerName="From" value="danvhenry@gmail.com"/>
                        <http:header headerName="Accept" value="application/vnd.pagerduty+json;version=2"/>
                    </http:request-builder>
                </http:request>
            </processor-chain>
            <processor-chain>
                <dw:transform-message doc:name="Transform Message" metadata:id="a80779f3-d257-44f0-9656-9b0188a39c72">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	incident: {
		name: payload.statusPage.incident_name,
		status: payload.user.status
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="Statuspage_Request_Configuration" path="/pages/nrjz5ydqgs0x/incidents.json " method="POST" doc:name="StatusPage_Resolve">
                    <http:request-builder>
                        <http:header headerName="authorization" value="OAuth e9366d75-bbbd-4306-b31b-1f20c4fe2433"/>
                    </http:request-builder>
                </http:request>
            </processor-chain>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"responses": payload
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <apikit:mapping-exception-strategy name="incidents-getstarted-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
