incidents-getstartedv2/src/main/app/incidents-getstarted.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="incidents-getstarted-httpListenerConfig" host="0.0.0.0" port="8081" basePath="api" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="incidents-getstarted-config" raml="incidents-getstarted.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="pagerduty-getstartedv2.us-e2.cloudhub.io" port="443" basePath="/api/pagerduty/v1" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange/api/v1/organizations/2ef2ac39-a4da-47cf-b3ff-294b7985c3fb/assets/2ef2ac39-a4da-47cf-b3ff-294b7985c3fb/pagerduty-getstarted/1.0.0/api/root"/>
    </http:request-config>
    <http:request-config name="HTTP_Request_Configuration1" protocol="HTTPS" host="statuspage-getstartedv2.us-e2.cloudhub.io" port="443" basePath="/api/statuspage/v1" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange/api/v1/organizations/2ef2ac39-a4da-47cf-b3ff-294b7985c3fb/assets/2ef2ac39-a4da-47cf-b3ff-294b7985c3fb/statuspage-getstarted/1.0.0/api/root"/>
    </http:request-config>
    <flow name="incidents-getstarted-main">
        <http:listener config-ref="incidents-getstarted-httpListenerConfig" path="/incidents/v1/*" doc:name="HTTP"/>
        <apikit:router config-ref="incidents-getstarted-config" doc:name="APIkit Router"/>
        <exception-strategy ref="incidents-getstarted-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="incidents-getstarted-console">
        <http:listener config-ref="incidents-getstarted-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="incidents-getstarted-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/resolve:application/json:incidents-getstarted-config">
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	incidents: [{
		id: payload.pagerDuty.incident_id,
		status: payload.user.status,
		type: "incident"
	}]
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="HTTP_Request_Configuration" path="/incidents" method="PUT" doc:name="PagerDuty">
                </http:request>
            </processor-chain>
            <processor-chain>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	incident: {
		name: payload.statusPage.incident_name,
		status: payload.user.status
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <http:request config-ref="HTTP_Request_Configuration1" path="/incidents" method="POST" doc:name="StatusPage">
                </http:request>
            </processor-chain>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
 responses: payload
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <apikit:mapping-exception-strategy name="incidents-getstarted-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
